body {
	font-family: 'Quicksand', sans-serif;
}

header {
	background: #5A872A;
	height: 73px;
}

.header-top {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;

}

.header-bottom {
	margin: 0 auto;
}


.ehlogo {
	height: 60px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin: 0 -30px 0 -30px;
}

.nav-icon {
	color: white;
	font-size: 17px;
	margin-left: 8px;
	margin-right: 8px;
}

.entry {
	border-bottom: 1px solid gray;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.title {
	font-style: italic;
}


.date {
	font-style: italic;
	margin: 0;

}

@media screen and (min-width:600px) {
	.ehlogo {
		position: absolute;
		top: 22px;
		left: 50px;
	}


	.journal {
		display: inline-block;	
		width: 40%;
		margin-right: 5%
	}

	.photodiv {
		display: inline-block;	
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
	}
}